* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #c9c9c9;
}

.navbar__logo1 {
  margin-top: -40px;
  z-index: 1;
}

.navbar__menu {
  width: 55%;
}

.navbar__menu1 {
  font-size: 12px;
}

.navbar__menu2 {
  font-size: 15px;
}

.navbar nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 3px;
}

.navbar nav a {
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
  color: #1a1a1a;
}

.navbar nav a:hover {
  color: #f8882d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  .navbar__logo1 {
    display: none;
  }
  .navbar a {
    font-size: 12px;
  }
}

.banne {
  padding-bottom: 20px;
  background-color: #F8F7F6;
}

.banner img {
  width: 100%;
}

main {
  margin-top: -4px;
  padding-bottom: 50px;
  background-color: #F8F7F6;
}

main .card-body {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}

.title {
  width: 100%;
  background-color: #F8F7F6;
  margin-top: -4px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65%;
  max-width: 1200px;
  background-color: white;
  height: auto;
  padding: 15px;
  margin: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.2px 3.95px 7px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.2px 3.95px 7px;
}

.main__comment {
  margin-right: 30px;
}

.main__comment p {
  color: gray;
  font-size: 13px;
  line-height: 17px;
}

.main button {
  display: inline-block;
  padding: 8px 32px;
  text-align: center;
  border: none;
  background-color: #f8882d;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.box {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background-color: #F8F7F6;
  margin: auto;
  margin-top: 16px;
}

.box h1 {
  color: #555555;
}

.box a {
  text-decoration: none;
  font-size: 11px;
  color: black;
}

.box a span {
  color: #f8882d;
  font-size: 15px;
}

.main-sub {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 40px auto 0;
  background-color: white;
  padding: 20px;
}

.main-sub img {
  width: 30%;
}

.main-sub__sub {
  margin: 0 35px 0;
}

.main-sub__sub h2 {
  color: #555555;
  font-weight: 800;
}

.main-sub__sub h4 {
  color: #7e7e7e;
  font-weight: normal;
}

.main-sub__sub p {
  color: #7e7e7e;
  font-size: 12px;
  margin-top: 10px;
  line-height: 18px;
}

@media screen and (max-width: 1052px) {
  main .card-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main .card-body .otocard {
    width: 100%;
  }
  main .card-body .otocard p {
    margin-right: 10px;
  }
  main .card-body .cardbot {
    width: 100%;
  }
  main .card-body .cardbot__name {
    height: 30%;
  }
  main .card-body .cardbot__info {
    max-height: 60%;
  }
  main .card-body .cardbot p {
    margin-right: 10px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__comment {
    width: 100%;
    margin: auto;
  }
  .main__comment p {
    font-size: 12px;
  }
  .main__button {
    background-color: #858585;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 5px;
  }
  .box {
    width: 80%;
  }
  main .card-body {
    width: 80%;
  }
  main .main-sub {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .main-sub img {
    width: 60%;
  }
  main .main-sub__sub {
    margin-top: 5px;
  }
}

.searchbar {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-bottom: -16px;
  background-color: #d3d3d3;
}

.searchbar__container {
  width: 65%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchbar__options {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.searchbar__cars {
  width: 100px;
  height: 38px;
  border-color: #858585;
  color: #A6A6A6;
}

.searchbar__one {
  width: 20%;
  margin-right: -60px;
}

.searchbar button {
  background-color: #f8882d;
  border: none;
  color: #fff;
  padding: 7px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.searchbar button:hover {
  background-color: #eb812b;
}

@media screen and (max-width: 879px) {
  .searchbar {
    width: 100%;
  }
  .searchbar__container {
    width: 65%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .searchbar__options {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .searchbar__cars {
    width: 32%;
    margin-bottom: 5px;
  }
  .searchbar__one {
    margin: auto;
  }
}

.otocard {
  width: 24%;
  height: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.808);
}

.otocard img {
  width: 100%;
  height: 170px;
  -o-object-fit: contain;
     object-fit: contain;
  padding-top: 30px;
}

.otocard__body {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.342);
}

.otocard__body h5 {
  color: dimgray;
}

.otocard__body p {
  color: black;
  font-size: 13px;
}

.otocard__info {
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.otocard__info p {
  opacity: 0.5;
  font-size: 10px;
  margin-top: 4px;
}

.otocard__info img {
  width: auto;
  height: auto;
  padding-top: 8px;
}

.otocard__info2 {
  width: 100%;
  background-color: rgba(167, 167, 167, 0.5);
  padding: 10px;
}

.otocard__info2 a {
  text-decoration: none;
  font-weight: 800;
  font-size: 11px;
  color: dimgray;
}

.otocard__info2 p {
  font-size: 13px;
  color: dimgray;
}

.cardbot {
  width: 49.3%;
  height: auto;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px 0 10px;
  border-bottom: 1.5px solid rgba(117, 117, 117, 0.808);
}

.cardbot img {
  width: 50%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.cardbot__name {
  height: auto;
}

.cardbot__body {
  width: 50%;
  padding: 10px;
}

.cardbot__body h5 {
  color: dimgray;
}

.cardbot__body p {
  color: black;
  font-size: 13px;
}

.cardbot__info {
  border-top: 1px solid #a5a5a52c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.cardbot__info p {
  opacity: 0.5;
  font-size: 10px;
  margin: 4px;
}

.cardbot__info img {
  width: auto;
  height: auto;
  padding-top: 8px;
}

.cardbot__info2 {
  width: 100%;
  background-color: rgba(167, 167, 167, 0.5);
  padding: 10px;
}

.cardbot__info2 a {
  text-decoration: none;
  font-weight: 800;
  font-size: 11px;
  color: dimgray;
}

.cardbot__info2 p {
  font-size: 13px;
  color: dimgray;
}

.footer {
  background-color: #e6e6e6d8;
  border-top: 2px solid rgba(1, 122, 7, 0.329);
}

.footer__container {
  width: 65%;
  margin: auto;
}

.footer__logo {
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__logo img {
  width: 30%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: -110px;
}

.footer__logo p {
  font-size: 12px;
  color: #3f3f3f;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bodys {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0 20px;
}

.footer__bodys h5 {
  color: #3f3f3f;
}

.footer__bodys li {
  display: block;
  line-height: 22px;
}

.footer__bodys a {
  text-decoration: none;
  font-size: 12px;
  color: #3f3f3f;
}

.footer__contact {
  width: 50%;
  margin: 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: right;
}

.footer__contact span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(63, 63, 63, 0.801);
}

.footer__contact h5 {
  font-weight: 1000;
  margin-right: 5px;
}

.footer__contact p {
  font-size: 13px;
  color: #3f3f3f;
}

.footer__contact h2 {
  color: #f8882d;
  font-weight: 1000;
}

.footer__socials {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__socials a {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
  }
  .footer__container {
    width: 100%;
  }
  .footer__logo {
    width: 100%;
  }
  .footer img {
    margin-left: 15px;
  }
  .footer__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__bodys {
    width: 80%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__contact {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */