*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
//navbar
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgb(201, 201, 201);
     
    &__logo1{
        margin-top: -40px;
        z-index: 1;
    }
    
    &__menu{
        width: 55%;  
    }

    &__menu1{
        font-size: 13px; 
    }

    nav{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        padding: 3px;

        a{
            text-decoration: none;
            align-items: center;
            padding-right: 20px;
            color: rgb(26, 26, 26);
           
        }
        a:hover {
            color: rgb(248, 136, 45);
            transition: 0.3s;
        }
    }
}
//Banner
.banner{
    img{
        width: 100%;
    }
}

//Main
main{
    background-color: #F8F7F6;
    margin-top: -4px;
    padding-bottom: 50px;

    .search-bar{
        width: 100%;
        margin-top: 15px;
        padding: 15px 0;
        background-color: #e6e5e4;
    }

    .card-body{
        width: 65%;
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    background-color: rgb(255, 255, 255);
    height: 69px;
    padding: 20px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.2px 3.95px 7px;

    &__comment{
        
        p{
            color: rgb(128, 128, 128);
            font-size: 13px;
            line-height: 17px;
        }
    }
    button {
        display: inline-block;
        padding: 8px 32px;
        text-align: center;
        border: none;
        background-color: rgb(248, 136, 45);
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        margin-left: 91px;
        cursor: pointer;
    }
}   
.box{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #F8F7F6;
    margin: auto;
    margin-top: 16px;
    h1{
        color: rgb(85, 85, 85);
    }
    a{
        text-decoration: none;
        font-size: 11px;
        color: black;
        span{
            color: rgb(248, 136, 45);
            font-size: 15px;
        }
    }
}
.main-sub{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 40px auto 0;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    
    
    img{
        width: 30%;
    }
    &__sub{
        margin: 0 35px 0;
        h2{
            color: rgb(85, 85, 85);
            font-weight: 800;
        }
        h4{
            color: rgb(126, 126, 126);
            font-weight: normal;
        }
        p{
            color: rgb(126, 126, 126);
            font-size: 12px;
            margin-top: 10px;
            line-height: 18px;
        }
    }
}
//searchbar
.searchbar{
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    &__options{
        width: 80%;
        display: flex;
        justify-content: space-between;
        
    }
    &__cars{
        padding: 7px 17px 7px 0px;
        border-color: #858585;
        color: #A6A6A6;
    }

    button{
        background-color: rgb(248, 136, 45); 
        border: none;
        color: #fff;
        padding: 7px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        cursor: pointer;
    }
    button:hover{
        background-color: rgb(235, 129, 43);
    }
}
//otocard
.otocard{
    width: 24%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;   
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(117, 117, 117, 0.808);

    img{
        width: 100%;
        height: 170px;
        object-fit: contain;
        padding-top: 30px;
    }
    &__body{
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid rgba(112, 112, 112, 0.342);

        h5{
            color: rgb(105, 105, 105);
        }
        p{
            color: rgb(0, 0, 0);
            font-size: 13px;
        }
    }
    &__info{
        padding: 5px;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        
        p{
            opacity: 0.5;
            font-size: 10px;
            margin: 4px;
        }
        img{
            width: auto;
            height: auto;
            padding-top: 8px;
        }
    }

    &__info2{
        width: 100%;
        background-color: rgba(167, 167, 167, 0.5);
        padding: 10px;
        a{
            text-decoration: none; 
            font-weight: 800;
            font-size: 11px;
            color: rgb(105, 105, 105);
        }
        p{
            font-size: 13px;
            color: rgb(105, 105, 105);
        }
    }
}
//cardbot
.cardbot{
    width: 49.3%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;   
    flex-wrap: wrap;
    margin: 40px 0 10px;
    border-bottom: 1.5px solid rgba(117, 117, 117, 0.808);
    img{
        width: 50%;
        height: 140px;
        object-fit: contain;
    }
    &__name{
        height: 40%;
    }
    &__body{
        width: 50%;
        padding: 10px;

        h5{
            color: rgb(105, 105, 105);
        }
        p{
            color: rgb(0, 0, 0);
            font-size: 13px;
        }
    }       
    &__info{
        border-top: 1px solid #a5a5a52c;
        display: flex;
        justify-content: space-around;
        flex-flow: wrap;
        p{
            opacity: 0.5;
            font-size: 10px;
            margin: 4px;
        }
        img{
            width: auto;
            height: auto;
            padding-top: 8px;
        }
    }
    &__info2{
        width: 100%;
        background-color: rgba(167, 167, 167, 0.5);
        padding: 10px;
        a{
           text-decoration: none; 
           font-weight: 800;
           font-size: 11px;
           color: rgb(105, 105, 105);
        }
        p{
            font-size: 13px;
            color: rgb(105, 105, 105);
        }
    }
}
//footer
.footer{
    background-color: #e6e6e6d8;
    border-top: 2px solid rgba(1, 122, 7, 0.329);

    &__container{
        width: 65%;
        margin: auto;
    }

    &__logo{
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        
        img{
            width: 30%;
            height: 100%;
            object-fit: contain;
            margin-left: -110px;
        }
        p{
            font-size: 12px;
            color: rgb(63, 63, 63);
        }

    }
    &__body{
        display: flex;
        justify-content: space-between;
    }
    &__bodys{
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 20px 0 20px;
        h5{
            color: rgb(63, 63, 63);
        }
        li{
            display: block;
            line-height: 22px;
        }
        a{
            text-decoration: none;
            font-size: 12px;
            color: rgb(63, 63, 63);
        }
    }
    &__contact{
        width: 50%;
        margin: 20px 0 20px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        text-align: right; 
        
        span{
            display: flex;
            justify-content: right;
            align-items: center;
            color: rgba(63, 63, 63, 0.801);
        }
        h5{
            font-weight: 1000; 
            margin-right: 5px; 
        }
        p{
            font-size: 13px;
            color: rgb(63, 63, 63)
        }
        h2{
            color: rgb(248, 136, 45);
            font-weight: 1000;
        }
    }
    &__socials{
        width: auto;
        display: flex;
        justify-content: space-between;    
        a{
            color: rgb(255, 255, 255);
            font-size: 20px;
        }
    }
}